{% extends 'base.html' %}

{% block head %} <title> Home </title> {% endblock %}

{% block body %}<p> Welcome to Faceometrics </p>
  {% if session.logged_in %}
    <div class="col-md-12 text-center">
          <a class="btn btn-primary" href="/my_courses/{{session.id}}" role="button">My Courses  &raquo;</a>
          <a class="btn btn-success sign-up" href="/logout" role="button">Logout &raquo;</a>
          <a class="btn btn-danger" href="/registercourses/{{session.id}}" role="button">Add Courses&raquo;</a>
    </div>
{% else %}
    <div class="col-md-12 text-center">
          <a class="btn btn-success" href="/login" role="button">Login &raquo;</a>
          <a class="btn btn-primary" href="/register" role="button" >Teacher Registration &raquo; </a>
          <a class="btn btn-danger" href="/registerstudents" role="button"> Student Registration &raquo; </a>
    </div>
  {% endif %}
{% endblock %}