
{% extends 'base.html' %}
{% block title %}
<title> Registeration </title>
{% endblock %}
{% block body %}
<h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-align: center;text-shadow: darkblue;color:gainsboro;"><i><b> SignUp</b></i></h1>
{% from "_formhelpers.html" import render_field %}
    <form method=post action="/register">
    <div class="form-group">
        {{ render_field(form.teacher_id) }}
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.phoneNo)}}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
    </div>
    <p><input type=submit value=Register class= "btn btn-primary">
    </form>
{% endblock %}